main {
display: grid;
align-items: stretch;
justify-content: center;
margin: 0px;
padding: 0px;
height: 700px;
grid-template-columns: 16% 25% 25% 25% 8%;
grid-template-rows: 15% 30% 30% 24%;
grid-gap: 1px;
border: 1px solid black;
box-sizing: border-box;
}
header {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;  
    border: 1px solid black;  
    text-align: left;
    margin: 1px;
}
.nav {
    grid-column-start: 1;
    grid-column-end: 1; 
    grid-row: 1 / span 4;
    border: 1px solid black; 
    text-align: left;
    margin: 1px;
}
.comm{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border: 1px solid black;  
    text-align: left;
    margin: 1px;
}
.serv {
    grid-column-start: 2 / 2;
    grid-row: 3 / 3; 
    border: 1px solid black; 
    text-align: left;
    margin: 1px;
}
.disc {
    grid-column: 2 / 2;
    grid-row: 4 / 4; 
    border: 1px solid black;
    text-align: left;
    margin: 1px;
}
.hous {
    border: 1px solid black; 
    grid-row: 2 / 2; 
    grid-column: 3 / 3; 
    text-align: left;
    margin: 1px;
}
.sale {
    border: 1px solid black; 
    grid-row: 3 / 5; 
    grid-column: 3 / 3; 
    text-align: left;
    margin: 1px;
}
.job {
    grid-column: 4 / 4; 
    grid-row: 2 / 4;
    border: 1px solid black; 
    text-align: left;
    margin: 1px;
}
.gig {
    grid-column: 4 / 4;
    grid-row: 4 / 4;
    border: 1px solid black; 
    text-align: left;
    margin: 1px;
}
.locations {
    grid-column: 5 / 5; 
    grid-row: 1 / span 4;
    border: 1px solid black; 
    text-align: left;
    margin: 1px;
}